body {
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #666;
}

.con {
    width: 100%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
}

.stiatic_top_con {
    margin-bottom: 20px;
}

table {
    width: 100%;
    text-align: left;
}

td {
    padding: 5px;
}

.labe_td {
    font-weight: bold;
    color: #333;
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    padding: 0 10px;
}

#submitBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}